<footer>
    <div class="footer-top">
        <div class="container">
            <div class="side-header">
                <a href="/" class="logo">
                    <img src="../../build/img/logo.png" alt="">
                </a>
                <ul class="header-list">
                    <li>
                        <a href="#">Клуб</a>
                    </li>
                    <li>
                        <a href="#">Новости</a>
                    </li>
                    <li>
                        <a href="#">Магазин</a>
                    </li>
                    <li>
                        <a href="#">Матч-центр</a>
                    </li>
                    <li>
                        <a href="#">Бизнес</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </div>
            <ul class="footer-acc">
                <li>
                    <a href="#">
                        <img src="../../build/img/youtube.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../build/img/instagram.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="side-footer">
                <p>Официальный сайт футбольного клуба «Спартак» Москва. Самый титулованный футбольный клуб России.</p>
                <p>Основан в 1922 году. © spartak.com 2017-2020 18+</p>
            </div>
            <div class="side-footer">
                <a href="/policy" class="policy-footer">Правовая информация</a>
                <p>Сделано в <a href="https://simplexx.agency/" class="copyright">Simplexx</a>
                </p>
            </div>
        </div>
    </div>
</footer>
