<div class="menu">
    <ul class="menu-list">
        <li>
            <a href="#">Клуб</a>
        </li>
        <li>
            <a href="#">Новости</a>
        </li>
        <li>
            <a href="#">Магазин</a>
        </li>
        <li class="sub1">
            <a href="#">Матч-центр</a>
            <ul>
                <li class="sub2">
                    <a href="#">Календарь матчей</a>
                    <ul>
                        <li><a href="#">Пункт меню 2 вложенности</a></li>
                        <li><a href="#">Пункт меню 2 вложенности</a></li>
                        <li class="sub3">
                            <a href="#">Пункт меню 2 вложенности</a>
                            <ul>
                              <li><a href="#">Пункт меню 3 вложенности</a></li>
                              <li><a href="#">Пункт меню 3 вложенности</a></li>
                              <li><a href="#">Пункт меню 3 вложенности</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Турнирная таблица</a>
                </li>
                <li>
                    <a href="#">Онлайн трансляции</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Бизнес</a>
        </li>
        <li class="sub1">
            <a href="#">Контакты</a>
            <ul>
                <li class="sub2">
                    <a href="#">Календарь матчей</a>
                    <ul>
                        <li><a href="#">Пункт меню 2 вложенности</a></li>
                        <li><a href="#">Пункт меню 2 вложенности</a></li>
                        <li class="sub3">
                            <a href="#">Пункт меню 2 вложенности</a>
                            <ul>
                              <li><a href="#">Пункт меню 3 вложенности</a></li>
                              <li><a href="#">Пункт меню 3 вложенности</a></li>
                              <li><a href="#">Пункт меню 3 вложенности</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Турнирная таблица</a>
                </li>
                <li>
                    <a href="#">Онлайн трансляции</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
