<div class="matchCenter-page">
    <section class="trans1">
        <img src="../../build/img/mTable.png" alt="">
        <div class="trans-overlay"></div>
        <div class="container">
            <h2>Календарь встреч</h2>
            <ul class="breadcrumbs-my">
                <li>
                    <a href="/">главная</a>
                </li>
                <li>
                    <a href="#">Матч-центр</a>
                </li>
                <li>
                    <a href="#">Календарь встреч</a>
                </li>
            </ul>
        </div>
    </section>
    <div class="matchData-content">
        <div class="container">
            <div class="datepicker"></div>
            <div class="match-perehod">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <a href="#" class="match-perehod-block">
                            <img src="../../build/img/becoach.png" alt="">
                            <p>Календарь матчей</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <a href="#" class="match-perehod-block">
                            <img src="../../build/img/becoach2.png" alt="">
                            <p>Турнирная таблица</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <a href="#" class="match-perehod-block">
                            <img src="../../build/img/becoach3.png" alt="">
                            <p>Онлайн трансляция</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
