<main>
    <div class="main-screen">
        <div class="main-slider1">
            <div>
                <div class="main-slide">
                    <div class="main-slide-img">
                        <img src="../../build/img/main1.png" alt="">
                    </div>
                    <div class="container">
                        <h1>Новый сайт ФК Сахалинец</h1>
                        <p>У нашего футбольного клуба появился сайт! Команда ликует, мотивация на высоте, мы готовы к новым подвигам</p>
                        <a href="#">
                            <span>Подробнее</span>
                            <img src="../../build/img/arr-right.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="main-slide">
                    <div class="main-slide-img">
                        <img src="../../build/img/main-slide21.jpg" alt="">
                    </div>
                    <div class="container">
                        <h1>Новость 2</h1>
                        <p>У нашего футбольного клуба появился сайт! Команда ликует, мотивация на высоте, мы готовы к новым подвигам</p>
                        <a href="#">
                            <span>Подробнее</span>
                            <img src="../../build/img/arr-right.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="main-slide">
                    <div class="main-slide-img">
                        <img src="../../build/img/main-slide22.jpg" alt="">
                    </div>
                    <div class="container">
                        <h1>Новость 3</h1>
                        <p>У нашего футбольного клуба появился сайт! Команда ликует, мотивация на высоте, мы готовы к новым подвигам</p>
                        <a href="#">
                            <span>Подробнее</span>
                            <img src="../../build/img/arr-right.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider2-wrp">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-12">
                        <div class="main-slider2">
                            <div>
                                <a href="https://github.com/kenwheeler/slick/issues/3150" class="main-slide2">
                                    <div class="main-slide2-img">
                                        <img src="../../build/img/main-slide21.jpg" alt="">
                                    </div>
                                    <div class="main-slide2-side">
                                        <p class="main-slide2-title">Новость 1</p>
                                        <p class="main-slide2-text">У нашего футбольного клуба появился сайт! Команда ликует, мотивация на высоте, мы готовы к новым подвигам</p>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="https://github.com/kenwheeler/slick/issues/3150" class="main-slide2">
                                    <div class="main-slide2-img">
                                        <img src="../../build/img/main-slide22.jpg" alt="">
                                    </div>
                                    <div class="main-slide2-side">
                                        <p class="main-slide2-title">Новый сайт ФК Сахалинец</p>
                                        <p class="main-slide2-text">У нашего футбольного клуба появился сайт! Команда ликует, мотивация на высоте, мы готовы к новым подвигам</p>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="https://github.com/kenwheeler/slick/issues/3150" class="main-slide2">
                                    <div class="main-slide2-img">
                                        <img src="../../build/img/main1.png" alt="">
                                    </div>
                                    <div class="main-slide2-side">
                                        <p class="main-slide2-title">Новость 1</p>
                                        <p class="main-slide2-text">У нашего футбольного клуба появился сайт! Команда ликует, мотивация на высоте, мы готовы к новым подвигам</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="main-slider-arrows">
                            <div class="main-slider-arrow prev-main-block">
                                <img src="../../build/img/arr-left.png" alt="">
                            </div>
                            <div class="main-slider-arrow next-main-block">
                                <img src="../../build/img/arr-right.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <section class="main-match pt112">
        <div class="container">
            <div class="h2-wrp">
                <h2>Матчи</h2>
                <a href="#" class="oval-btn">В матч-центр</a>
            </div>
            <div class="match-slider-wrp">
                <div class="match-slider">
                    <div>
                        <div class="match-slide">
                            <div class="match-slide-top">
                                <p class="match-slide-data">20 июня 2020, 16:30</p>
                                <p class="match-slide-name">Тинькофф Российская Премьер&#8209;Лига</p>
                                <p class="match-slide-tour">Тур: 23</p>
                                <div class="schet-wrp">
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda1.png" alt="">
                                        </div>
                                        <p>Арсенал</p>
                                    </div>
                                    <div class="schet">3:2</div>
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda2.png" alt="">
                                        </div>
                                        <p>Спартак</p>
                                    </div>
                                </div>
                            </div>
                            <div class="match-slide-bottom">
                                <span class="start">Завершен</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="match-slide">
                            <div class="match-slide-top">
                                <p class="match-slide-data">20 июня 2020, 16:30</p>
                                <p class="match-slide-name">Тинькофф Российская Премьер&#8209;Лига</p>
                                <p class="match-slide-tour">-</p>
                                <div class="schet-wrp">
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda1.png" alt="">
                                        </div>
                                        <p>Арсенал</p>
                                    </div>
                                    <div class="schet">-</div>
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda2.png" alt="">
                                        </div>
                                        <p>Спартак</p>
                                    </div>
                                </div>
                            </div>
                            <div class="match-slide-bottom">
                                <span class="start">До начала:</span>
                                <div class="start-time-wrp">
                                    <span class="start-time">03</span>
                                    <span>дн.</span>
                                    <span class="start-time">23</span>
                                    <span>ч.</span>
                                    <span class="start-time">57</span>
                                    <span>мин.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="match-slide">
                            <div class="match-slide-top">
                                <p class="match-slide-data">20 июня 2020, 16:30</p>
                                <p class="match-slide-name">Тинькофф Российская Премьер&#8209;Лига</p>
                                <p class="match-slide-tour">Тур: 23</p>
                                <div class="schet-wrp">
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda1.png" alt="">
                                        </div>
                                        <p>Арсенал</p>
                                    </div>
                                    <div class="schet">3:2</div>
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda2.png" alt="">
                                        </div>
                                        <p>Арсенал</p>
                                    </div>
                                </div>
                            </div>
                            <div class="match-slide-bottom">
                                <span class="start">До начала:</span>
                                <div class="start-time-wrp">
                                    <span class="start-time">03</span>
                                    <span>дн.</span>
                                    <span class="start-time">23</span>
                                    <span>ч.</span>
                                    <span class="start-time">57</span>
                                    <span>мин.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="match-slide">
                            <div class="match-slide-top">
                                <p class="match-slide-data">20 июня 2020, 16:30</p>
                                <p class="match-slide-name">Тинькофф Российская Премьер&#8209;Лига</p>
                                <p class="match-slide-tour">Тур: 23</p>
                                <div class="schet-wrp">
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda1.png" alt="">
                                        </div>
                                        <p>Арсенал</p>
                                    </div>
                                    <div class="schet">3:2</div>
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda2.png" alt="">
                                        </div>
                                        <p>Арсенал</p>
                                    </div>
                                </div>
                            </div>
                            <div class="match-slide-bottom">
                                <span class="start">До начала:</span>
                                <div class="start-time-wrp">
                                    <span class="start-time">03</span>
                                    <span>дн.</span>
                                    <span class="start-time">23</span>
                                    <span>ч.</span>
                                    <span class="start-time">57</span>
                                    <span>мин.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prev-match-arrow match-arrow">
                    <img src="../../build/img/arr-left-slider.png" alt="">
                </div>
                <div class="next-match-arrow match-arrow">
                    <img src="../../build/img/arr-right-slider.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="reklama">
        <div class="overlay-reklama"></div>
        <div class="container">
            <div class="reklama-content">
                <div class="rubashka-wrp">
                    <div class="rubashka-oval"></div>
                    <img src="../../build/img/rubashka.png" alt="">
                </div>
                <p class="reklama-name">Рекламная вставка</p>
                <p class="reklama-text">У нашего футбольного клуба появился сайт! Команда ликует, мотивация на высоте, мы готовы к новым подвигам</p>
                <div class="reklama-more">Подробнее</div>
            </div>
        </div>
    </section>
    <section class="shop-main pt112">
        <p class="shop-main-decor">ФК Сахалинец</p>
        <div class="container">
            <div class="h2-wrp">
                <h2>Магазин</h2>
                <a href="#" class="oval-btn">
                    <img src="../../build/img/link-icon.png" alt="">
                    <span>Все товары</span>
                </a>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="shop-main-block">
                        <div class="shop-img">
                            <img src="../../build/img/forma2.png" alt="">
                        </div>
                        <p class="shop-name">Майка игровая домашняя детская НАЙК 2019-2020</p>
                        <div class="price-wrp">
                            <p class="price-main">3 353 ₽</p>
                            <div class="cart-wrp">
                                <img src="../../build/img/cart.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="shop-main-block">
                        <div class="shop-img">
                            <img src="../../build/img/forma2.png" alt="">
                        </div>
                        <p class="shop-name">Майка игровая домашняя детская НАЙК 2019-2020</p>
                        <div class="price-wrp">
                            <p class="price-main">3 353 ₽</p>
                            <div class="cart-wrp">
                                <img src="../../build/img/cart.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="shop-main-block">
                        <div class="shop-img">
                            <img src="../../build/img/forma2.png" alt="">
                        </div>
                        <p class="shop-name">Майка игровая домашняя детская НАЙК 2019-2020</p>
                        <div class="price-wrp">
                            <p class="price-main">3 353 ₽</p>
                            <div class="cart-wrp">
                                <img src="../../build/img/cart.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="shop-main-block">
                        <div class="shop-img">
                            <img src="../../build/img/forma2.png" alt="">
                        </div>
                        <p class="shop-name">Майка игровая домашняя детская НАЙК 2019-2020</p>
                        <div class="price-wrp">
                            <p class="price-main">3 353 ₽</p>
                            <div class="cart-wrp">
                                <img src="../../build/img/cart.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="reklama">
        <div class="overlay-reklama"></div>
        <div class="container">
            <div class="reklama-content">
                <div class="rubashka-wrp">
                    <div class="rubashka-oval"></div>
                    <img src="../../build/img/rubashka.png" alt="">
                </div>
                <p class="reklama-name">Рекламная вставка</p>
                <p class="reklama-text">У нашего футбольного клуба появился сайт! Команда ликует, мотивация на высоте, мы готовы к новым подвигам</p>
                <div class="reklama-more">Подробнее</div>
            </div>
        </div>
    </section>
    <section class="table-main-section pt112">
        <div class="container">
            <h2>Турнирная таблица</h2>
            <table class="table-general">
            	<tbody>
            		<tr>
            			<th>Позиция</th>
            			<th>Команда</th>
            			<th>Матчи</th>
            			<th>Победы</th>
            			<th>Ничьи</th>
            			<th>Поражения</th>
            			<th>Мячи</th>
            			<th>Очки</th>
            		</tr>
            		<tr>
            			<td>1</td>
            			<td><img src="../../build/img/table1.png" alt="">
                            «Зенит»</td>
            			<td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>2</td>
            			<td><img src="../../build/img/table2.png" alt="">«Локомотив»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>3</td>
            			<td><img src="../../build/img/table1.png" alt="">«Краснодар»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>4</td>
            			<td><img src="../../build/img/table2.png" alt="">«Ростов»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>5</td>
            			<td><img src="../../build/img/table1.png" alt="">«ЦСК»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>6</td>
            			<td><img src="../../build/img/table2.png" alt="">«Спартак»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>7</td>
            			<td><img src="../../build/img/table1.png" alt="">«Динамо»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>8</td>
            			<td><img src="../../build/img/table2.png" alt="">«Спартак»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>9</td>
            			<td><img src="../../build/img/table1.png" alt="">«Динамо»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            	</tbody>
            </table>
            <div class="all-table-btn">
                <span>Вся таблица</span>
                <img src="../../build/img/arr-down.png" alt="">
            </div>
        </div>
    </section>
    <section class="reklama">
        <div class="overlay-reklama"></div>
        <div class="container">
            <div class="reklama-content">
                <div class="rubashka-wrp">
                    <div class="rubashka-oval"></div>
                    <img src="../../build/img/rubashka.png" alt="">
                </div>
                <p class="reklama-name">Рекламная вставка</p>
                <p class="reklama-text">У нашего футбольного клуба появился сайт! Команда ликует, мотивация на высоте, мы готовы к новым подвигам</p>
                <div class="reklama-more">Подробнее</div>
            </div>
        </div>
    </section>
    <section class="main-video pt112">
        <div class="container">
            <div class="h2-wrp">
                <h2>Видео</h2>
                <a href="#" class="oval-btn">
                    <span>Все видео</span>
                </a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <a href="https://www.youtube.com/watch?v=YptlzXc5yNY" class="main-video-block" data-fancybox>
                        <div class="main-video-block-img">
                            <img src="../../build/img/vidos.jpg" alt="">
                            <div class="main-video-block-overlay">
                                <img src="../../build/img/play.png" alt="">
                            </div>
                        </div>
                        <p class="vidos-name">За кадром матча «Арсенал» — «Спартак»</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <a href="https://www.youtube.com/watch?v=YptlzXc5yNY" class="main-video-block" data-fancybox>
                        <div class="main-video-block-img">
                            <img src="../../build/img/vidos.jpg" alt="">
                            <div class="main-video-block-overlay">
                                <img src="../../build/img/play.png" alt="">
                            </div>
                        </div>
                        <p class="vidos-name">За кадром матча «Арсенал» — «Спартак»</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <a href="https://www.youtube.com/watch?v=YptlzXc5yNY" class="main-video-block" data-fancybox>
                        <div class="main-video-block-img">
                            <img src="../../build/img/vidos.jpg" alt="">
                            <div class="main-video-block-overlay">
                                <img src="../../build/img/play.png" alt="">
                            </div>
                        </div>
                        <p class="vidos-name">За кадром матча «Арсенал» — «Спартак»</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="reklama">
        <div class="overlay-reklama"></div>
        <div class="container">
            <div class="reklama-content">
                <div class="rubashka-wrp">
                    <div class="rubashka-oval"></div>
                    <img src="../../build/img/rubashka.png" alt="">
                </div>
                <p class="reklama-name">Рекламная вставка</p>
                <p class="reklama-text">У нашего футбольного клуба появился сайт! Команда ликует, мотивация на высоте, мы готовы к новым подвигам</p>
                <div class="reklama-more">Подробнее</div>
            </div>
        </div>
    </section>
    <section class="partners-main pt112">
        <img src="../../build/img/bgPartner.png" alt="">
        <div class="container">
            <h2>Наши партнёры</h2>
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner1.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner2.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner3.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner4.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner5.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner1.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner2.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner3.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner4.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner5.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner1.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner2.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner3.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner4.png" alt="">
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <img src="../../build/img/partner5.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="best-player">
        <img src="../../build/img/bgPlayer.png" alt="">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 offset-0 col-xl-5 col-lg-6 col-12">
                    <div class="best-player-block">
                        <div class="number-player">
                            <span class="show">10</span>
                            <span>11</span>
                            <span>12</span>
                        </div>
                        <img src="../../build/img/emblema.png" alt="">
                        <div class="best-player-img">
                            <img class="show" src="../../build/img/player1.png" alt="">
                            <img src="../../build/img/apple.jpg" alt="">
                            <img src="../../build/img/bananas.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="offset-xl-1 offset-0 col-xl-5 col-lg-6 col-12 best-player-side">
                    <h2>Выбери лучшего игрока</h2>
                    <form id="valid1" action="#">
                        <select class="select-custom" name="" id="">
                            <option value="1">Доменико Тедеско</option>
                            <option>Apples</option>
                            <option>Bananas</option>
                        </select>
                        <div class="input-style">
                            <input class="form-input input-valid" type="email" data-input="email" name="email" placeholder="E-mail">
                            <p class="input-error">ошибка ввода</p>
                        </div>
                        <textarea class="form-input form-textarea" name="name" placeholder="Почему выбрали именно его?"></textarea>
                        <input class="choose-best" type="submit" value="Выбери лучшего">
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
