<div class="matchTable-page">
    <section class="trans1">
        <img src="../../build/img/mTable.png" alt="">
        <div class="trans-overlay"></div>
        <div class="container">
            <h2>Турнирная таблица</h2>
            <ul class="breadcrumbs-my">
                <li>
                    <a href="/">главная</a>
                </li>
                <li>
                    <a href="#">Матч-центр</a>
                </li>
                <li>
                    <a href="#">турнирная таблица</a>
                </li>
            </ul>
        </div>
    </section>
    <div class="matchTable-content">
        <div class="container">
            <table class="table-general">
            	<tbody>
            		<tr>
            			<th>Позиция</th>
            			<th>Команда</th>
            			<th>Матчи</th>
            			<th>Победы</th>
            			<th>Ничьи</th>
            			<th>Поражения</th>
            			<th>Мячи</th>
            			<th>Очки</th>
            		</tr>
            		<tr>
            			<td>1</td>
            			<td><img src="../../build/img/table1.png" alt="">
                            «Зенит»</td>
            			<td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>2</td>
            			<td><img src="../../build/img/table2.png" alt="">«Локомотив»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>3</td>
            			<td><img src="../../build/img/table1.png" alt="">«Краснодар»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>4</td>
            			<td><img src="../../build/img/table2.png" alt="">«Ростов»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>5</td>
            			<td><img src="../../build/img/table1.png" alt="">«ЦСК»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>6</td>
            			<td><img src="../../build/img/table2.png" alt="">«Спартак»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>7</td>
            			<td><img src="../../build/img/table1.png" alt="">«Динамо»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>8</td>
            			<td><img src="../../build/img/table2.png" alt="">«Спартак»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            		<tr>
            			<td>9</td>
            			<td><img src="../../build/img/table1.png" alt="">«Динамо»</td>
                        <td>23</td>
            			<td>16</td>
            			<td>16</td>
            			<td>2</td>
            			<td>48&#8209;10</td>
            			<td>53</td>
            		</tr>
            	</tbody>
            </table>
        </div>
    </div>
</div>
