<div class="translyacia-page">
    <section class="trans1">
        <img src="../../build/img/bgTrans.png" alt="">
        <div class="trans-overlay"></div>
        <div class="container">
            <h2>Онлайн трансляции матчей сезона 19/20</h2>
            <ul class="breadcrumbs-my">
                <li>
                    <a href="/">главная</a>
                </li>
                <li>
                    <a href="#">Матч-центр</a>
                </li>
                <li>
                    <a href="#">Онлайн-трансляция</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="trans2">
        <div class="container">
            <div class="translyacia-content">
                <p class="vvod-text">Смотрите онлайн все игры ФК «Спартак-Москва» в сезоне РПЛ 19/20. Для вашего удобства доступны трансляции отдельных матчей или абонемент на трансляции матчей «Спартака» до конца сезона.</p>
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-12">
                        <div class="main-trans-vidos">
                            <a href="https://www.youtube.com/watch?v=YptlzXc5yNY" class="main-video-block" data-fancybox>
                                <div class="main-video-block-img">
                                    <img class="main-trans-vidos-img" src="../../build/img/vidos.jpg" alt="">
                                    <div class="main-video-block-overlay">
                                        <img src="../../build/img/play.png" alt="">
                                    </div>
                                </div>
                                <p class="vidos-name">За кадром матча «Арсенал» — «Спартак»</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 pl0">
                        <div class="prev-trans-vidos">
                            <a href="https://www.youtube.com/watch?v=YptlzXc5yNY" class="prev-trans-block active">
                                <div class="prev-trans-block-img">
                                    <img src="../../build/img/vidos.jpg" alt="">
                                    <div class="prev-trans-overlay"></div>
                                </div>
                                <p class="trans-vidos-name">За кадром матча «Арсенал» — «Спартак»</p>
                            </a>
                            <a href="https://www.youtube.com/watch?v=hHxq7HcTSkU" class="prev-trans-block">
                                <div class="prev-trans-block-img">
                                    <img src="../../build/img/bgTrans.png" alt="">
                                    <div class="prev-trans-overlay"></div>
                                </div>
                                <p class="trans-vidos-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, sequi, pariatur. Non.</p>
                            </a>
                            <a href="https://www.youtube.com/watch?v=YptlzXc5yNY" class="prev-trans-block">
                                <div class="prev-trans-block-img">
                                    <img src="../../build/img/vidos.jpg" alt="">
                                    <div class="prev-trans-overlay"></div>
                                </div>
                                <p class="trans-vidos-name">За кадром матча «Арсенал» — «Спартак»</p>
                            </a>
                            <a href="https://www.youtube.com/watch?v=YptlzXc5yNY" class="prev-trans-block">
                                <div class="prev-trans-block-img">
                                    <img src="../../build/img/vidos.jpg" alt="">
                                    <div class="prev-trans-overlay"></div>
                                </div>
                                <p class="trans-vidos-name">За кадром матча «Арсенал» — «Спартак»</p>
                            </a>
                            <a href="https://www.youtube.com/watch?v=YptlzXc5yNY" class="prev-trans-block">
                                <div class="prev-trans-block-img">
                                    <img src="../../build/img/vidos.jpg" alt="">
                                    <div class="prev-trans-overlay"></div>
                                </div>
                                <p class="trans-vidos-name">За кадром матча «Арсенал» — «Спартак»</p>
                            </a>
                            <a href="https://www.youtube.com/watch?v=YptlzXc5yNY" class="prev-trans-block">
                                <div class="prev-trans-block-img">
                                    <img src="../../build/img/vidos.jpg" alt="">
                                    <div class="prev-trans-overlay"></div>
                                </div>
                                <p class="trans-vidos-name">За кадром матча «Арсенал» — «Спартак»</p>
                            </a>
                            <a href="https://www.youtube.com/watch?v=YptlzXc5yNY" class="prev-trans-block">
                                <div class="prev-trans-block-img">
                                    <img src="../../build/img/vidos.jpg" alt="">
                                    <div class="prev-trans-overlay"></div>
                                </div>
                                <p class="trans-vidos-name">За кадром матча «Арсенал» — «Спартак»</p>
                            </a>
                            <a href="https://www.youtube.com/watch?v=YptlzXc5yNY" class="prev-trans-block">
                                <div class="prev-trans-block-img">
                                    <img src="../../build/img/vidos.jpg" alt="">
                                    <div class="prev-trans-overlay"></div>
                                </div>
                                <p class="trans-vidos-name">За кадром матча «Арсенал» — «Спартак»</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
