<div class="matchCenter-page">
    <section class="trans1">
        <div class="trans-overlay"></div>
        <div class="container">
            <img src="../../build/img/emblema3.png" alt="">
            <h2>Матч-центр</h2>
            <ul class="breadcrumbs-my">
                <li>
                    <a href="/">главная</a>
                </li>
                <li>
                    <a href="#">Матч-центр</a>
                </li>
            </ul>
        </div>
    </section>
    <div class="matchCenter-content">
        <div class="container">
            <div class="match-slider-wrp">
                <div class="match-slider">
                    <div>
                        <div class="match-slide">
                            <div class="match-slide-top">
                                <p class="match-slide-data">20 июня 2020, 16:30</p>
                                <p class="match-slide-name">Тинькофф Российская Премьер&#8209;Лига</p>
                                <p class="match-slide-tour">Тур: 23</p>
                                <div class="schet-wrp">
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda1.png" alt="">
                                        </div>
                                        <p>Арсенал</p>
                                    </div>
                                    <div class="schet">3:2</div>
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda2.png" alt="">
                                        </div>
                                        <p>Спартак</p>
                                    </div>
                                </div>
                            </div>
                            <div class="match-slide-bottom">
                                <span class="start">Завершен</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="match-slide">
                            <div class="match-slide-top">
                                <p class="match-slide-data">20 июня 2020, 16:30</p>
                                <p class="match-slide-name">Тинькофф Российская Премьер&#8209;Лига</p>
                                <p class="match-slide-tour">-</p>
                                <div class="schet-wrp">
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda1.png" alt="">
                                        </div>
                                        <p>Арсенал</p>
                                    </div>
                                    <div class="schet">-</div>
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda2.png" alt="">
                                        </div>
                                        <p>Спартак</p>
                                    </div>
                                </div>
                            </div>
                            <div class="match-slide-bottom">
                                <span class="start">До начала:</span>
                                <div class="start-time-wrp">
                                    <span class="start-time">03</span>
                                    <span>дн.</span>
                                    <span class="start-time">23</span>
                                    <span>ч.</span>
                                    <span class="start-time">57</span>
                                    <span>мин.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="match-slide">
                            <div class="match-slide-top">
                                <p class="match-slide-data">20 июня 2020, 16:30</p>
                                <p class="match-slide-name">Тинькофф Российская Премьер&#8209;Лига</p>
                                <p class="match-slide-tour">Тур: 23</p>
                                <div class="schet-wrp">
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda1.png" alt="">
                                        </div>
                                        <p>Арсенал</p>
                                    </div>
                                    <div class="schet">3:2</div>
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda2.png" alt="">
                                        </div>
                                        <p>Арсенал</p>
                                    </div>
                                </div>
                            </div>
                            <div class="match-slide-bottom">
                                <span class="start">До начала:</span>
                                <div class="start-time-wrp">
                                    <span class="start-time">03</span>
                                    <span>дн.</span>
                                    <span class="start-time">23</span>
                                    <span>ч.</span>
                                    <span class="start-time">57</span>
                                    <span>мин.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="match-slide">
                            <div class="match-slide-top">
                                <p class="match-slide-data">20 июня 2020, 16:30</p>
                                <p class="match-slide-name">Тинькофф Российская Премьер&#8209;Лига</p>
                                <p class="match-slide-tour">Тур: 23</p>
                                <div class="schet-wrp">
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda1.png" alt="">
                                        </div>
                                        <p>Арсенал</p>
                                    </div>
                                    <div class="schet">3:2</div>
                                    <div class="schet-commanda">
                                        <div class="schet-img">
                                            <img src="../../build/img/label-commanda2.png" alt="">
                                        </div>
                                        <p>Арсенал</p>
                                    </div>
                                </div>
                            </div>
                            <div class="match-slide-bottom">
                                <span class="start">До начала:</span>
                                <div class="start-time-wrp">
                                    <span class="start-time">03</span>
                                    <span>дн.</span>
                                    <span class="start-time">23</span>
                                    <span>ч.</span>
                                    <span class="start-time">57</span>
                                    <span>мин.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prev-match-arrow match-arrow">
                    <img src="../../build/img/arr-left-slider.png" alt="">
                </div>
                <div class="next-match-arrow match-arrow">
                    <img src="../../build/img/arr-right-slider.png" alt="">
                </div>
            </div>
            <div class="match-perehod">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <a href="#" class="match-perehod-block">
                            <img src="../../build/img/becoach.png" alt="">
                            <p>Календарь матчей</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <a href="#" class="match-perehod-block">
                            <img src="../../build/img/becoach2.png" alt="">
                            <p>Турнирная таблица</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <a href="#" class="match-perehod-block">
                            <img src="../../build/img/becoach3.png" alt="">
                            <p>Онлайн трансляция</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
